{% extends 'base.html' %}

{% block title %}
<title>Início - Show de Eventos!</title>
{% endblock %}

{% block content %}
<div class="text-lg-center py-3">
    <h1>Bem-vindo ao "Show de Eventos"!</h1>
    <h5>Aqui você encontra os eventos mais próximos a você, em sua região.</h5>
    <p class="text-lg-center p-2 m-3">Com este site, você poderá realizar buscas por eventos com filtros (tipo, data,
        localidade), exibir eventos em mapa com ícones e informações básicas, e tudo isso, tendo os detalhes dos eventos
        com descrição, data, local e links relevantes.</p>
    <p class="text-lg-center p-2 m-3">Clique em "Encontrar eventos" acima.</p>
</div>
{% endblock %}